---
title: Portfolio
icon: fa-th
order: 2
---

<p>The following is a collection of design projects that I have worked on in and out of school. The projects include a mix of software, electrical and mechanical designs.</p>
  <div class="row">
    <div class="4u 12u$(mobile)">
        <div class="item">
            <a href="{{ site.baseurl }}{% link _posts/2022-01-08-RepairHeadPhones.md %}" class="image fit"><img src="{{ '/assets/images/beats.jpg' | relative_url }}" alt="Beats Repaire" /></a>
            <header>
            <h3>Repairing Beats</h3>
            </header>
        </div>
        <div class="item">
            <a href="{{ site.baseurl }}{% link _posts/2021-02-04-ComputerVisionCar.md %}" class="image fit"><img src="{{ 'assets/images/car.jpg' | relative_url }}" alt="Computer Vision Speed" /></a>
            <header>
              <h3>Computer Vision Speed Challenge</h3>
            </header>
        </div>
    </div>  
    <div class="4u 12u$(mobile)">
        <div class="item">
            <a href="{{ site.baseurl }}{% link _posts/2021-04-30-SmartVentilator.md %}" class="image fit"><img src="{{ 'assets/images/ventModel.png' | relative_url }}" alt="Smart Ventilator" /></a>
            <header>
              <h3>Smart Ventilator</h3>
            </header>
        </div>
        <div class="item">
            <a href="{{ site.baseurl }}{% link _posts/2019-08-12-SquatApp.md %}" class="image fit"><img src="{{ '/assets/images/squat.png' | relative_url }}" alt="Squat App" /></a>
            <header>
            <h3>Machine Learning Squat App</h3>
            </header>
        </div>
    </div>  
    <div class="4u 12u$(mobile)">
        <div class="item">
            <a href="{{ site.baseurl }}{% link _posts/2019-04-27-NACA_Airfoil.md %}" class="image fit"><img src="{{ '/assets/images/naca_airfoil.png' | relative_url }}" alt="glider" /></a>
            <header>
            <h3>Flow Over Airfoil Simulation</h3>
            </header>
        </div>
        <div class="item">
            <a href="{{ site.baseurl }}{% link _posts/2019-03-31-GearBoxDesign.md %}" class="image fit"><img src="{{ '/assets/images/worm_gear.png' | relative_url }}" alt="glider" /></a>
            <header>
                <h3>Gear Box</h3>
            </header>
        </div>
    </div>  
    <div class="4u 12u$(mobile)">
      <div class="item">
        <a href="{{ site.baseurl }}{% link _posts/2018-01-28-SelfLevelingGlider.md %}" class="image fit"><img src="{{ 'assets/images/glider.jpg' | relative_url }}" alt="glider" /></a>
        <header>
          <h3>Self-Leveling Glider</h3>
        </header>
      </div>
      <div class="item">
        <a href="{{ site.baseurl }}{% link _posts/2017-09-30-StateMachine.md %}" class="image fit"><img src="{{ 'assets/images/rocket.jpg' | relative_url }}" alt="rocket" /></a>
        <header>
          <h3>Ignition State Machine</h3>
        </header>
      </div>
    </div>
    
  </div>
<!-- 
<div class="row">
  {% for post in site.posts %}
    {% if forloop.index == 0 %}
      <div class="4u 12u$(mobile)">
    {% elsif forloop.index == 3 %}
      </div>
      <div class="4u 12u$(mobile)">
    {% endif %}
      <div class="item">
        <a href="{{ post.url }}" class="image fit"><img src="{{ post.cover-photo | relative_url }}" /></a>
        <header>
          <h3>{{ post.title }}</h3>
        </header>
      </div>   
  {% endfor %}
  </div>
</div> -->
